.home {
  display: grid;
  height: 100%;
  grid-gap: 10px;
  /*grid-template-rows: 1fr 4fr 2.5fr 2.5fr*/
  grid-template:
  "a" 0.6fr
  "b" 4.4fr
  "c" 5fr
;
}

.header-area {
  grid-area: a;
  display: grid;
  margin: auto 10px;
  height: 100%;
  align-content: center;
  /*background-color: #707070;*/
}

.header-class {
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  color: darkslategray;
}

.search-area {
  grid-area: b;
  display: grid;
  height: 100%;
  margin: auto 10px;
  grid-gap: 20px;
  /*background-color: #B7E0FF;*/
  grid-template-columns: 1fr 1fr;
  border-top-style: ridge;
}

.search {
  grid-area: 1;
  display: grid;
  height: 100%;
  grid-gap: 10px;
  grid-template:
  "s1" 1fr
  "s2" 2fr
;
  /*background-color: honeydew;*/

  /*outline: 3px solid red;*/

}

.search > * {
  /*outline: 3px solid red;*/
}

.search-form {
  grid-area: s1;
  display: grid;
  place-content: center;
  /*justify-content: space-evenly;*/
  grid-gap: 20px;
}

.search-input {
  height: 50px;
  width: 80vh;
  max-width: 600px;
  border-radius: 30px;
  justify-self: center ;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  padding-left: 25px;
  /*outline: 3px solid red;*/
}


.search-btn {
  width: 15vh;
  max-width: 180px;
  height: 40px;
  border-radius: 20px;
  justify-self: center ;
  font-size: 16px;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  color: white;
  background-color: darkslategray;
  /*place-content: center;*/
  /*outline: 3px solid red;*/

}

.search-result {
  grid-area: s2;
}

.p2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  font-size: 25px;
  margin: 10px 10px;
  color: darkslategray;
}

.result-panel {
  display: flex;
  justify-content: center;
  /*background-color: black;*/
  margin: auto 10px;
  /*outline: 3px solid red;*/
  /*height: 80%;*/
}

.result-card-base {
  display: grid;
  width: 200px;
  height: 250px;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2);
  place-content: center;
  gap: 20px;
}

.result-img-one {
  background: url('/assets/images/rainy-day.svg') no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-size: 100%;
  /*outline: 3px solid red;*/
  margin: auto auto;

  /*background-position: 0%;*/
}

.result-label-one {
  font-size: 15px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  place-content: center;

}

.data-area {
  grid-column: 2;
  /* align-self: center; */
  background-color: #FFE697;
  height: 100%;
  width: 100%;

}


.card-container {
  grid-area: c;
  display: flex;
  justify-content: center;
  background-color: green;
  margin: auto 10px;

}

.card-base {
  width: 350px;
  height: 500px;
  margin: 50px;
  border-radius: 40px;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2);
}

.card-base:hover {
  box-shadow: 2px 12px 32px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  cursor: pointer;
  transition: .3s box-shadow, .3s margin-top ease-in-out;
}

.card-one {
  background-color: #FFE697;
}

.content {
  padding: 35px 35px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;


}


.img-one {
  background: url('/assets/images/p2.jpg') no-repeat;
  width: 350px;
  height: 300px;
  border-radius: 40px;
  background-size: 150%;
  /*background-position: 0%;*/
}

.btn-base {
  display: flex;
  width: 260px;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: -25px;
  font-size: 30px;
  justify-content: center;
  /*align-items: center;*/
  align-items: flex-end;
  color: white;
}

.btn-one {
  background-color: green;
}

.card-two {
  background-color: #E4E4E4;
}


.img-two {
  background: url('/assets/images/p1.jpg') no-repeat;
  width: 350px;
  height: 300px;
  border-radius: 40px;
  background-size: 150%;
  /*background-position: 0%;*/
}

.btn-two {
  background-color: orange;
}

.card-three {
  background-color: #B7E0FF;
}

.img-three {
  background: url('/assets/images/p3.jpg') no-repeat;
  width: 350px;
  height: 300px;
  border-radius: 40px;
  background-size: 150%;
  /*background-position: 0%;*/
}

.btn-three {
  background-color: red;
}


/*.grafico {*/
/*  background-color: black;*/
/*  align-self: center;*/
/*  height: 100%;*/
/*  width: 100%;*/

/*}*/

.grafico .content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px;
}

.grafico .content span{
  font-family: 'Roboto';
  font-size: 15px;
  color: #707070;
}

.grafico .line{
  background-color: #CCCCCC;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.grafico .legends{
  display: flex;
  flex-direction: row;
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  font-size: 18px;
  text-align: center;
}

.grafico .legends span{
  width: 60px;
  margin: 0px 20px;
  background-color: darkred;

}

.grafico .bars{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.grafico .bar{
  width: 60px;
  min-height: 2px;
  margin:0 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.grafico .bar:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
}

@media (max-width: 1350px) {
  .card-container{
    flex-direction: column;
  }
  .card-base {
    margin: 50px auto;
  }
}


