<div>
<p>home works!</p>
</div>

<!--<div class="main" >-->
<!--&lt;!&ndash;    <h1>&ndash;&gt;-->
<!--&lt;!&ndash;      hello world&ndash;&gt;-->
<!--&lt;!&ndash;    </h1>&ndash;&gt;-->

<!--    <table>-->
<!--      <tr>-->
<!--        <th>DateTime</th>-->
<!--        <th>Symbol</th>-->
<!--        <th>Market</th>-->
<!--      </tr>-->

<!--      <tr *ngFor="let log of lstLogs">-->
<!--        <td>{{log.datetime}}</td>-->
<!--        <td>{{log.symbol}}</td>-->
<!--        <td>{{log.market}}</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--&lt;!&ndash;  <div class="cards">&ndash;&gt;-->

<!--&lt;!&ndash;    <mat-toolbar color="primary">&ndash;&gt;-->
<!--&lt;!&ndash;      Card view demo&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card class="mat-elevation-z4">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-title>Himalayan Peaks</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;        <img mat-card-image src="./../assets/images/p1.jpg" class="img">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;          <p>&ndash;&gt;-->
<!--&lt;!&ndash;            The Himalayas is a mountain range in Asia.&ndash;&gt;-->
<!--&lt;!&ndash;          </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-actions>&ndash;&gt;-->
<!--&lt;!&ndash;          <button mat-button>LIKE</button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button mat-button>SHARE</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card-actions>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--</div>-->
