<div class="home">

  <div class="header-area">
    <div class="header-class">
      <p>
        Stock Recommendation Engine
      </p>
    </div>
  </div>
  <div class="search-area">
    <div class="search">
      <input class="searchInput form-control-lg" type="text" [(ngModel)]="stockSymbol">
      <button class="searchButton" (click)="getStockRating()">Search</button>
      <p class="p2">
        Overall RatingsModel
      </p>
    </div>
    <div class="rating-chart">
      <div class="grafico">
        <div class="content">
          <div class="bars" *ngFor="let item of List">
            <span>{{item.value}}</span>
            <div class="bar" [style.background-color]="item.color" [style.height]='item.size'></div>
          </div>
        </div>
        <!--<div class="line"></div>-->
        <div class="legends">
          <span *ngFor="let item of List">{{item.legend}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card-base card-one">
      <div class="img-one"></div>
      <div class="btn-base btn-one">
        <p>BUY</p>
      </div>
      <div class="content">
        <p>
          Sing up for a memebership today and get awesome
          prodctions and services that you have not received before!
        </p>
      </div>
    </div>
    <div class="card-base card-two">
      <div class="img-two"></div>
      <div class="btn-base btn-two">
        <p>HOLD</p>
      </div>
      <div class="content">
        <p>
          Sing up for a memebership today and get awesome
          prodctions and services that you have not received before!
        </p>
      </div>

    </div>
    <div class="card-base card-three">
      <div class="img-three"></div>
      <div class="btn-base btn-three">
        <p>SELL</p>
      </div>
      <div class="content">
        <p>
          Sing up for a memebership today and get awesome
          prodctions and services that you have not received before!
        </p>
      </div>

    </div>
  </div>

</div>
